* {
  cursor: default;
  color: #f3f3f3;
  background-color: #1c1c1c;
  font-family: "NanumMyeongjo-Bold";
}

@font-face {
  font-family: "NanumMyeongjo-Bold";
  src: url("../assets/font/NanumMyeongjo-Bold.ttf");
}
