.container {
  background-image: url("../images/bg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 0;
}

.logo {
  position: absolute;
  top: 4.5%;
  left: 6.3%;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;

  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}
.logo * {
  cursor: pointer;
  text-decoration-line: none;
  font-size: 1.3rem;
  background-color: transparent;
}
.logo img {
  width: 40px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
}
.logo a {
  vertical-align: middle;
}

.signupContainer {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 0rem;
}

.title {
  font-size: 2.7rem;
  color: #c1c1c1;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.progressImg {
  width: 4rem;
}

.step1Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.step3Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputContainer input {
  margin: 0rem 1.2rem;
  padding: 0.2rem 2rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: #4f4f4f;
  height: 2.7rem;
  width: 15rem;
  font-size: 1.2rem;
}

.addressInput {
  width: 28% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

.yearInput {
  text-align: center;
  margin: 0rem 0.1rem 0rem 1.2rem !important;
  padding: 0.2rem 1rem !important;
  width: 7% !important;
}

.monthInput {
  text-align: center;
  margin: 0rem 0.1rem 0rem 0rem !important;
  padding: 0.2rem 1rem !important;
  width: 4% !important;
}

.BDtext {
  color: #c1c1c1;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.inputContainer button {
  cursor: pointer;
  border: none;
  background-color: #eeb233;
  color: #1c1c1c;
  font-size: 1.3rem;
  margin-right: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 30px;
  width: 20%;
}

.inputContainer img {
  width: 3rem;
}

.nextButton {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 1.6rem;
  padding: 0.8rem 5rem;
}

.line {
  width: 30rem;
  margin: 2rem 0rem;
}

.genderChoice {
  cursor: pointer;
  margin: 0rem 1rem;
  padding: 0.7rem 3rem;
  border-radius: 30px;
  font-size: 1.3rem;
}
