.container {
  background-image: url("../images/bg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: 0;
}

/* .container * {
  background-color: transparent;
} */

.signupContainer {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 0rem;
}

.title {
  font-size: 2.7rem;
  color: #c1c1c1;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.progressImg {
  width: 4rem;
}

.step1Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputContainer input {
  margin: 0rem 1.2rem;
  padding: 0.2rem 2rem;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: #4f4f4f;
  height: 2.7rem;
  width: 15rem;
  font-size: 1.2rem;
}

.addressInput {
  width: 30% !important;
}

.inputContainer button {
  border: none;
  background-color: #eeb233;
  color: #1c1c1c;
  font-size: 1.3rem;
}

.inputContainer img {
  width: 3rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.nextButton {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 1.6rem;
  padding: 0.8rem 5rem;
}

.line {
  width: 30rem;
  margin: 2rem 0rem;
}
