.outerContainer{
  display: flex;
  justify-content: space-evenly;
  /* flex-direction; */
  background-color: #2e2e2e;
}

.outerContainer *{
  background: none;
}

.progressBarContainer{
  display: inline-flex;
  flex-direction: row;
  background-color: transparent;
}

.innerContainer{
  text-align: center;
}

.innerContainer img{
  width: 50%;
}

.iconAndProgress{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.iconAndProgress *{
  margin-bottom: 10px;
}

.title{
  color: #DCDCDC;
  font-size: 25px;
}