.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.highlight {
  color: #eeb233;
  font-size: 25px;
}

.innerLowerContainer {
  display: flex;
  border-top: 2px solid #555555;
}
.innerUpperContainer {
  display: flex;
  margin: 0 20px;
}

.innerUpperContainer img {
  width: 25px;
  margin-right: 10px;
}
.goTo {
  margin: 30px 20px 0px 20px;
}

.chatIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 100px 0 0;
}

.alertCount {
  width: 30px; /* 알림 숫자의 너비 */
  height: 30px; /* 알림 숫자의 높이 */
  background-color: red; /* 배경색 */
  color: white; /* 글자색 */
  border-radius: 50%; /* 원형 모양 */
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  font-size: 20px; /* 글자 크기 */
  z-index: 10; /* 다른 요소 위에 나타나도록 z-index 지정 */
}
