.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.loginTitle {
  color: #c1c1c1;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.login {
  display: flex;
  flex-direction: column;
}

.login input {
  color: #b9b9b9;
  background-color: #4f4f4f;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  margin: 1rem;
  padding: 0rem 1rem;
  height: 3rem;
  width: 20rem;
}

.login button {
  cursor: pointer;
  background-color: #eeb233;
  border: none;
  border-radius: 30px;
  margin: 2rem 1rem;
  height: 3.3rem;
}

.login button * {
  cursor: pointer;
  color: black;
  background-color: #eeb233;
  font-size: 1.5rem;
}

.signUpContainer {
  display: flex;
  align-items: end;
}

.signUpContainer * {
  margin: 0rem 0.5rem;
  color: #c1c1c1;
}

.signUpRedirect * {
  cursor: pointer;
  color: #eeb233;
  font-size: 1.3rem;
  text-decoration-line: none;
}
