/* 모달 전체 CSS */
.container {
  width:450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container *{
  background: none;
  font-size:17px;
  text-align: center;
}

.title{
  font-size: 30px;
  color: #eeb233;
}

.pagenation{
  background-color:#ffc107;
  font-size: 15px;
  color:#2E2E2E;
  height: 50px;
  width: 80px;
  border-radius: 10px;
}

.buttonContainer{
  display: flex;
  justify-content: space-evenly;

}