/* My Bar */
.container {
  display: flex;
  /* position: relative; */
}

/* 배경 */
.background {
  background-image: url("../../assets/images/mybar/wall.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%; /* 페이지 폭 전체로 설정 */
  height: 100vh; /* 페이지 높이 전체로 설정 (뷰포트 높이만큼) */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* 뒤로가기 버튼 */
.backButton {
  background: none;
  position: fixed;
  width: 100px;
  height: 45px;
  left: 10px;
  top: 10px;
  font-size: 18px;
  border: none; /* 가장자리 테두리 없애기 */
}

/* 선반 */
.shelf {
  background: none;
  position: absolute;
  height: 45px;
  margin: 0;
}
.shelf1 {
  bottom: 65%;
  left: 0%;
  width: calc(60% + 50px);
}
.shelf2 {
  bottom: 33%;
  right: 0%;
  width: calc(70% + 50px);
}
.shelf3 {
  bottom: 1%;
  left: 13%;
  width: calc(60% + 50px);
}

/* 칵테일 레시피 즐겨찾기 (book) */
.book {
  background: none;
  position: absolute;
  width: 120px;
  height: auto;
  cursor: pointer;
  bottom: 37%;
  right: 5%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* 그림자 효과를 추가합니다. */
}
.bookDecoration {
  background: none;
  position: absolute;
  width: 120px;
  height: auto;
  /* cursor: pointer; */
  bottom: 37%;
  right: 5%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* 그림자 효과를 추가합니다. */
}

/* 거래 요청 */
.startChat {
  position: fixed;
  top: 30px;
  right: 35px;
  padding: 15px 25px; /* 버튼 내부 여백 */

  background-color: #eeb233; /* 배경색 */
  color: #1c1c1c; /* 텍스트 색상 */
  /* border: none; 테두리 없음 */
  border-radius: 7px; /* 버튼 모서리 둥글게 */
  cursor: pointer;
  font-size: 20px; /* 폰트 크기 */
}

/* 위스키 보유 관련 */
.whiskeyNone {
  opacity: 0; /* 투명도를 0%로 설정합니다. */
  pointer-events: none; /* 보유하고 있지 않은 위스키는 클릭할 수 없음 */
}

.whiskeyFull {
  opacity: 1; /* 투명도를 100%로 설정합니다. */
}

.whiskeyEmpty {
  opacity: 0.275; /* 투명도를 27.5%로 설정합니다. */
}

/* 위스키 */
.whiskey {
  background: none;
  position: absolute; /* 배경 이미지와 겹치도록 설정 */
  width: 57px; /* 이미지의 넓이 자동 조정 */
  height: auto;
  cursor: pointer; /* 클릭 가능하도록 커서 스타일 변경 */
}
.whiskey1 {
  bottom: 69%;
}
.whiskey2 {
  bottom: 37%;
}
.whiskey3 {
  bottom: 5%;
}

/* 위스키 1세트 - whiskey1 */
.whiskey1:nth-child(1) {
  left: 5%; /* 개별 위스키 위치 - 왼쪽으로 정렬 */
}

.whiskey1:nth-child(2) {
  left: 10%;
}

.whiskey1:nth-child(3) {
  left: 15%;
}

.whiskey1:nth-child(4) {
  left: 20%;
}

.whiskey1:nth-child(5) {
  left: 25%;
}

.whiskey1:nth-child(6) {
  left: 30%;
}

.whiskey1:nth-child(7) {
  left: 35%;
}

.whiskey1:nth-child(8) {
  left: 40%;
}

.whiskey1:nth-child(9) {
  left: 45%;
}

.whiskey1:nth-child(10) {
  left: 50%;
}

/* 위스키 2세트 - whiskey2 */
.whiskey2:nth-child(11) {
  right: 60%;
}

.whiskey2:nth-child(12) {
  right: 55%;
}

.whiskey2:nth-child(13) {
  right: 50%;
}

.whiskey2:nth-child(14) {
  right: 45%;
}

.whiskey2:nth-child(15) {
  right: 40%;
}

.whiskey2:nth-child(16) {
  right: 35%;
}

.whiskey2:nth-child(17) {
  right: 30%;
}

.whiskey2:nth-child(18) {
  right: 25%;
}

.whiskey2:nth-child(19) {
  right: 20%;
}

.whiskey2:nth-child(20) {
  right: 15%;
}

/* 위스키 3세트 - whiskey3 */
.whiskey3:nth-child(21) {
  left: 20%;
}

.whiskey3:nth-child(22) {
  left: 25%;
}

.whiskey3:nth-child(23) {
  left: 30%;
}

.whiskey3:nth-child(24) {
  left: 35%;
}

.whiskey3:nth-child(25) {
  left: 40%;
}

.whiskey3:nth-child(26) {
  left: 45%;
}

.whiskey3:nth-child(27) {
  left: 50%;
}

.whiskey3:nth-child(28) {
  left: 55%;
}

.whiskey3:nth-child(29) {
  left: 60%;
}

.whiskey3:nth-child(30) {
  left: 65%;
}
