.container {
  /* margin: 1rem; */
}

.myMessage {
  display: flex;
  justify-content: right;
  align-items: end;
  /* float: right; */
  margin: 1rem;
}

.yourMessage {
  display: flex;
  justify-content: left;
  align-items: end;
  /* float: left; */
  margin: 1rem;
}

.content {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-size: 1.2rem;
  max-width: 60%;
}

.myMessage .content {
  color: #1c1c1c;
  background-color: #eeb233;
  margin-left: 0.5rem;
}

.yourMessage .content {
  color: #e3e3e3;
  background-color: #3b3b3b;
  margin-right: 0.5rem;
}

.time {
  color: #a2a2a2;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
