.container {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0rem 6rem 0rem;
  font-size: 1.2rem;
}

.container * {
  background-color: transparent;
}

.logo {
  display: flex;
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.logo * {
  cursor: pointer;
  text-decoration-line: none;
  font-size: 1.3rem;
}
.logo img {
  width: 40px;
  margin: 0 10px 0 10px;
}
.logo a {
  line-height: 40px;
}
.logo img,
.logo a {
  vertical-align: middle;
}

.menu {
  display: flex;
  justify-content: space-around;
  /* 임시 */
  margin-right: 6rem;
}

.menu * {
  cursor: pointer;
  text-decoration-line: none;
  margin: 0rem 3rem;
}

.menu *:hover {
  color: #eeb233;
}

.user {
  display: flex;
  justify-content: space-around;
}

.user * {
  cursor: pointer;
  margin-left: 3rem;
  text-decoration-line: none;
}

.user img {
  width: 1.6rem;
}

.myPage {
  z-index: 4;
  cursor: pointer;
}
