.container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem 7rem 5rem;
  font-size: 1.2rem;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu * {
  cursor: pointer;
  text-decoration-line: none;
  margin: 0rem 3rem;
}

.user {
  display: flex;
  justify-content: space-around;
}

.user * {
  margin-left: 3rem;
}
