.container {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem 6rem 0rem;
  font-size: 1.2rem;
}

.container * {
  background-color: transparent;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-around;
  /* 임시 */
  margin-left: 10rem;
}

.menu * {
  cursor: pointer;
  text-decoration-line: none;
  margin: 0rem 3rem;
}

.menu *:hover {
  color: #eeb233;
}

.user {
  display: flex;
  justify-content: space-around;
}

.user * {
  margin-left: 3rem;
}

.myPage {
  cursor: pointer;
}
