.button{
  border:none;

}

.searchInput{
  width: 40%;
  height: 40px;
  background-color: white;
  color:black;
  border-radius: 10px;
  font-size: 20px;
}

.searchForm{
  display:flex;
  justify-content: center;
}