server:
  servlet:
    context-path: /api
  port: 8080

# DB와 secret key 세팅 값
spring:
  profiles:
    active: prod
---
spring:
  profiles:
    active: dev
---
spring:
  profiles:
    active: local

  jpa:
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        use-new-id-generator-mappings: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 25MB

#    database-platform: org.hibernate.dialect.H2Dialect


management:
  endpoint:
  endpoints:
    web:
      base-path: /whikseywiki